.App {
  background-color: #e0e0e0;
}

.container.login {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 450px;
  margin: 0 auto;
}

form.login {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
}
.LoginBtn {
  margin: 7px 0px;
}
.field {
  float: left;
  position: relative;
  left: 5px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-info {
  padding: 7px 0px;
  display: flex;
  align-items: center;
}

.save-info label {
  display: flex;
  align-items: center;
}

.save-info em {
  margin-left: 5px;
}

.auto_login {
  position: relative;
  left: 5px;
}

input[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sns-info {
  text-align: center;
  padding-bottom: 10px;
}

.signup-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.signup-info li a {
  text-decoration: none;
  color: #666;
}
