.header_up {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

#header {
    margin-bottom: 100px;
    height: 40px;
    position: relative;
    text-align: center;
}

#header .inner {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background-color: orange;
    position: relative;
}

#header .inner .logo {
    flex: 1;  
    text-align: center;
}

.search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#header_left, #header_right {
    display: flex;
    padding: 10px 10px;
}

#header_right {
    margin-left: auto;
}

.upload, .products, .login, .signup {
    flex: 1;
    text-align: center;
}

.upload {
    width: 130px;
}

.signup {
    width: 80px;
}

.login {
    padding-right: 5px;
}

#header ul li {
    padding: 0 10px;
}

#header .navber {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
    background-color: wheat;
}